<section class="joinnow">
<img src="../../assets/home.jpg">
  <div class="joincontent">
  <form class="col-lg-50 m-auto">
    <div class="mb-3">
      <label class="visually-hidden" for="specificSizeInputName">Name</label>
      <input type="text" class="form-control" id="specificSizeInputName" placeholder="Name">
    </div>
    <div class="mb-3">
      <label class="visually-hidden" for="specificSizeInputGroupUsername">intra username</label>
      <div class="input-group">
        <div class="input-group-text">@</div>
        <input type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder="intra username">
      </div>
    </div>
    <div class="mb-3">
      <label class="visually-hidden" for="specificSizeSelect">Preference</label>
      <select class="form-select" id="specificSizeSelect">
        <option selected>Choose tournament</option>
        <option value="1">Tournament 2022</option>
        <option value="2">Tournament 2022</option>
        <option value="3">Tournament 2022</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Join match</button>
    </div>
  </form>
</div>

