<section class="ranking">
  <h1 class="text-center">Top 42 Players</h1>
  
	<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Points</th>
        <th scope="col">Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Advanced</td>
        <td>1300</td>
        <td>@smkatash</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Novice</td>
        <td>1000</td>
        <td>@jcab</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jana</td>
        <td>Intermediate</td>
        <td>800</td>
        <td>@janab</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Harry</td>
        <td>Intermediate</td>
        <td>600</td>
        <td>@lharr</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Larry</td>
        <td>Novice</td>
        <td>400</td>
        <td>@lkrabbe</td>
      </tr>
    </tbody>
  </table>
</section>
